* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: #fdba74;
    padding: 40px 40px 0 15px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 50px 350px 150px;
    align-items: center;
}

.sidebar li {
    list-style-type: none;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

ul:first-child>li>svg {
    width: 3rem;
}

ul:first-child>li>p {
    font-size: 1.8rem;
}

.sidebar p {
    justify-self: start;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

svg {
    width: 1.6rem;
    /* justify-self: end; */
}

ul:not(:first-child) {
    display: grid;
    gap: 12px;
}

.header {
    background-color: whitesmoke;
    box-shadow: 0px 3px 10px -5px #9b9b9b;
    z-index: 1;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px 0 20px 40px;
    gap: 20px;
}

.header p {
    justify-self: start;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

input[type='search'] {
    background-color: lightgray;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 1.3rem;
    padding: 5px 10px;
    min-width: 300px;
    max-width: 900px;
}

input[type='search']::placeholder {
    font-size: 1rem;
}

input[type='search']:focus,
input[type='search']:hover {
    border: 1px solid #9b9b9b;
}

svg+img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 1px solid red; */

}

.searchContainer {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    align-items: center;
    /* border: solid 1px; */
}

.userInfo {
    display: grid;
    grid-template-columns: 30px 55px 1fr;
    align-items: center;
    gap: 20px;
}

.welcomeInfo > img, .trending img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.welcomeInfo {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #fdba74;
    border: none;
    padding: 15px 30px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

main {
    background-color: lightgray;
    grid-column: 2 / -1;
    padding: 30px 20px 60px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: min-content;
    gap: 25px;
}

.card p {
    font-size: 0.9rem;
}

.announcements p {
    font-size: 0.8rem;
}

.trending div p:nth-child(2) {
    font-size: 0.8rem;
}

.trending div p:nth-child(3) {
    font-size: 0.9rem;
}

.projects-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}

.card {
    /* border: 1px solid; */
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    border-left: #fdba74 10px solid;
    box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
    gap: 10px;
}

.card h4,
.card p {
    grid-column: 1 / -1;

}

.card svg:nth-child(3) {
    grid-column: -4;
}

.card svg {
    padding-top: 40px;
    align-self: end;
}

.announcements, .trending {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 10px 0px rgba(173,173,173,1);
    z-index: 1;
}
.notifications {
    display: grid;
    gap: 10px;
    grid-template-rows: 4fr 1fr 4fr;
}

.notifications h2 {
    align-self: end;
    padding: 0 0 15px 0;
}

.announcements {
    display: grid;
    align-items: start;
}

.announcements div {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.announcements div:last-child {
    border: none;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.trending img {
    grid-column: 1 / 2;
}

